---
import Logo from "@/components/Logo.astro";
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
import config from "@/config/config.json";

const { settings } = config;
---

<header class={`header z-30 ${settings.sticky_header && "sticky top-0"}`}>
  <nav class="navbar container">
    <!-- logo -->
    <div class="flex-1 flex justify-center">
      <Logo />
    </div>
    <!-- theme switcher -->
    <div class="flex items-center">
      <ThemeSwitcher />
    </div>
  </nav>
</header>
